@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    @include flex;
    flex-direction: row;
    background-color: #4c9195;
    width: 100%;
    height: 100vh;
    & > main {
        @include flex;
        flex-direction: column;
        flex-grow: 1;
        & button {
            cursor: pointer;
            color: #4c9195;
            font-weight: 600;
            font-size: 30px;
            background-color: whitesmoke;
            border: none;
            border-radius: 5px;
            padding: 15px 60px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
        }
    }
    & > main > p {
        color: white;
    }
    & > main > p:first-child {
        font-size: 90px;
    }
    & > main > p:nth-child(2) {
        font-size: 120px;
    }
}
