.wrapper {
    width: 100%;
    transition: 0.3s linear;
    background-color: #fdfcfe;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active {
    width: calc(100% - 300px);
}
.button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
